@media (max-width: 767px) {
    .center {
        padding-left: calc(50% - 202px);
        padding-right: calc(50% - 202px);
    }
    .background {
        &__image-1 {
            display: none;
        }
        &__image-2 {
            position: absolute;
            top: 552px;
            left: 303px;
            width: 39px;
            height: 41px;
        }
        &__image-3 {
            position: absolute;
            top: 529px;
            left: 272px;
            width: 18px;
            height: 18px;
        }
        &__image-4 {
            position: absolute;
            top: 64px;
            left: 91px;
            width: 21px;
            height: 21px;
        }
        &__image-5 {
            position: absolute;
            top: 97px;
            left: 37px;
            width: 35px;
            height: 35px;
        }
        &__image-6 {
            display: block;
            position: absolute;
            left: 216px;
        }
    }
    .section-header {
        font-size: 40px;
        padding: 48px 16px; 
    }
    .welcom {
        padding-top: 147px;
        padding-bottom: 131px;
        display: flex;
        align-items: center;
        flex-direction: column;
        &__greeting {
            font-size: 40px;
            text-align: center;
        }
        &__description {
            font-size: 16px;
            text-align: center;
            line-height: 100%;
        }
        &__start {
            margin-top: 30px;
            font-size: 16px;
            padding: 16px 103px;
            width: 78px;
        }
    }
    .scroll-bar {
        position: relative;
        left: -19px;
        width: 105%;
        &__name {
            font-size: 16px;
            padding: 16px 27px 16px 24px;
        }
        &__star {
            width: 19px;
            height: 19px;
            padding-top: 16px;
        }
    }
    .about {
        display: none;
    }
    .mini-game {
        padding-bottom: 10px;
        &__image {
            display: none;
        }
    }
    .play {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__block {
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: column-reverse;
            width: 343px;
        }
        &__cart {
            display: flex;
            flex-direction: column;
            width: 343px;
            padding: 29px;
        }
        &__name {
            font-size: 40px;
        }
        &__about {
            font-size: 16px;
            line-height: 100%;
        }
        &__link {
            font-size: 16px;
            padding: 16px 103px;
            width: 78px;
        }
        &__color {
            width: 343px;
        }
    }
    .number {
        padding-top: 24px;
        &__name {
            font-size: 24px;
            padding-bottom: 18px;
        }
        &__about {
            font-size: 12px;
            line-height: 24px;
            padding-bottom: 8px;
        }
        &__input {
            width: 100px;
            padding: 8px 32px;
            border-radius: 30px;
            font-size: 12px;
        }
        &__button {
            padding: 8px 32px;
            border-radius: 30px;
            font-size: 18px;
            line-height: 100%;
            margin: 18px;
        }
    }
    .arithmetic {
        padding-top: 24px;
        &__name {
            font-size: 24px;
            padding-bottom: 18px;
        }
        &__task {
            font-size: 18px;
            padding-bottom: 10px;
        }
        &__input {
            width: 100px;
            padding: 8px 32px;
            border-radius: 30px;
            font-size: 12px;
        }
        &__button {
            padding: 8px 32px;
            border-radius: 30px;
            font-size: 12px;
            line-height: 100%;
            margin: 18px;
        }
        &__score {
            font-size: 12px;
        }
        &__result {
            font-size: 10px;
            font-weight: 500;
            margin-top: 10px;
            min-height: 12px;
        }
    }
    .turn-text {
        padding-top: 24px;
        &__name {
            font-size: 24px;
            padding-bottom: 18px;
        }
        &__input {
            width: 100px;
            padding: 8px 32px;
            border-radius: 30px;
            font-size: 12px;
            margin-bottom: 10px;
        }
        &__button {
            padding: 8px 32px;
            border-radius: 30px;
            font-size: 12px;
            line-height: 100%;
            margin: 8px;
        }
        &__result {
            font-size: 10px;
            font-weight: 500;
            margin-top: 10px;
            min-height: 12px;
        }
    }
    .rsp-game {
        padding-top: 24px;
        &__name {
            font-size: 24px;
            padding-bottom: 18px;
        }
        &__choice {
            padding: 8px 15px;
            border-radius: 30px;
            font-size: 12px;
            line-height: 100%;
        }
        &__choices {
            margin-bottom: 14px;
        }
        &__button {
            padding: 8px 32px;
            border-radius: 30px;
            font-size: 12px;
            line-height: 100%;
            margin: 8px;
        }
        &__result {
            font-size: 10px;
            font-weight: 500;
            margin-top: 10px;
            min-height: 12px;
        }
    }
    .color {
        &__title {
            font-size: 24px;
            padding-bottom: 18px;
            text-align: center;
        }
        &__about {
            font-size: 12px;
            padding-bottom: 10px;
            text-align: center;
        }
        &__button {
            padding: 12px 36px;
            font-size: 14px;
            border-radius: 30px;
        }
    }
    .current-color {
        margin-top: 14px;
        font-size: 12px;
        color: #fff;
        padding: 8px 16px;
    }
    .hint-higher {
        font-size: 12px;
    }
    .footer {
        height: 100px;

        &__text {
            font-size: 20px;
        }
    }
}