@media (max-width: 767px) {
    .center {
        padding-left: calc(50% - 202px);
        padding-right: calc(50% - 202px);
    }
    .background {
        &__image-1 {
            display: none;
        }
        &__image-2 {
            position: absolute;
            top: 552px;
            left: 303px;
            width: 39px;
            height: 41px;
        }
        &__image-3 {
            position: absolute;
            top: 529px;
            left: 272px;
            width: 18px;
            height: 18px;
        }
        &__image-4 {
            position: absolute;
            top: 64px;
            left: 91px;
            width: 21px;
            height: 21px;
        }
        &__image-5 {
            position: absolute;
            top: 97px;
            left: 37px;
            width: 35px;
            height: 35px;
        }
        &__image-6 {
            display: block;
            position: absolute;
            left: 216px;
        }
    }
    .welcom {
        padding-top: 147px;
        padding-bottom: 131px;
        display: flex;
        align-items: center;
        flex-direction: column;
        &__greeting {
            font-size: 40px;
            text-align: center;
        }
        &__description {
            font-size: 16px;
            text-align: center;
            line-height: 100%;
        }
        &__start {
            margin-top: 36px;
            font-size: 16px;
            padding: 16px 103px;
            width: 78px;
        }
    }
    .scroll-bar {
        position: relative;
        left: -6px;
        &__name {
            font-size: 16px;
            padding: 16px 27px 16px 24px;
        }
        &__star {
            width: 19px;
            height: 19px;
        }
    }
    .about {
        display: none;
    }
    .footer {
        height: 100px;

        &__text {
            font-size: 20px;
        }
    }
}