.number {
    padding-top: 94px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    
    &__name {
        font-size: 48px;
        font-weight: 600;
        line-height: 100%;
        color: #fff;
        padding-bottom: 24px;
    }
    &__about {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        color: #fff;
        padding-bottom: 12px;
    }
    &__input {
        background-color: #fff;
        width: 200px;
        padding: 16px 65px;
        border: 1px solid #202027;
        border-radius: 60px;
        font-size: 24px;
        outline: none;
    }
    &__button {
        background-color: #6b6b6b;
        padding: 16px 65px;
        border: 1px solid #202027;
        border-radius: 60px;
        color: #202027;
        font-size: 24px;
        line-height: 142%;
        font-weight: 600;
        margin: 24px;
        cursor: pointer;
        &:hover {
            background-color: #fff;
        }
    }
}
.hint {
    &-higher {
        margin-bottom: 12px;
        color: #fff;
        font-size: 18px;
    }
    &-lower {
        margin-bottom: 12px;
        color: #fff;
        font-size: 18px;
    }
}
.correct {
    margin-bottom: 12px;
    color: #fff;
    font-size: 18px;
}