.turn-text {
    padding-top: 94px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    &__name {
        font-size: 48px;
        font-weight: 600;
        line-height: 100%;
        color: #fff;
        padding-bottom: 24px;
    }
    &__input {
        background-color: #fff;
        width: 300px;
        padding: 16px 65px;
        border: 1px solid #202027;
        border-radius: 60px;
        font-size: 24px;
        outline: none;
        text-align: center;
        margin-bottom: 20px;
    }
    &__button {
        background-color: #6b6b6b;
        padding: 16px 65px;
        border: 1px solid #202027;
        border-radius: 60px;
        color: #202027;
        font-size: 24px;
        line-height: 142%;
        font-weight: 600;
        margin: 15px;
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
            background-color: #fff;
        }
    }
    &__result {
        font-size: 28px;
        font-weight: 500;
        margin-top: 20px;
        min-height: 32px;
        color: #fff;
        text-align: center;
        padding: 10px 20px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        max-width: 80%;
    }
}