* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
html {
    scroll-behavior: smooth;
}
a,
input,
button,
select {
  transition: all 0.3s;
  text-decoration: none;
}
.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.main-page {
    background-color: #E1FF8F;
}
.background {
    &__image-1 {
        position: absolute;
        left: calc(100% - 586px);
        z-index: 0;
    }
    &__image-2 {
        position: absolute;
        top: 568px;
        left: calc(100% - 427px);
    }
    &__image-3 {
        position: absolute;
        top: 538px;
        left: calc(100% - 492px);
    }
    &__image-4 {
        position: absolute;
        top: 69px;
        left: 156px;
    }
    &__image-5 {
        position: absolute;
        top: 94px;
        left: 63px;
    }
    &__image-6 {
        display: none;
    }
}
.welcom {
    padding-top: 196px;
    padding-bottom: 156px;
    &__greeting {
        font-size: 64px;
        font-weight: 700;
        line-height: 100%;
        color: #202027;
        padding-bottom: 24px;
        position: relative;
        z-index: 1;
    }
    &__description {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        color: #202027;
        &-weight{
            font-weight: 600;
        }
    }
    &__start {
        display: block;
        width: 117px;
        background-color: #202027;
        padding: 16px 65px;
        border: 1px solid #202027;
        border-radius: 60px;
        color: #FFFFFF;
        font-size: 24px;
        line-height: 142%;
        font-weight: 600;
        margin-top: 48px;
        cursor: pointer;
        &:hover {
            background-color: #FFFFFF;
            color: #202027;
        }
    }
}
.scroll-bar {
    background-color: #BCEC30;
    width: 100%; 
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    &__list {
        display: inline-flex;
        animation: scroll-bar 10s linear infinite;
    }
    &__name {
        font-size: 30px;
        font-weight: 700;
        line-height: 110%;
        padding: 27px 51px 30px 51px;
    }
    &__star {
        width: 36px;
        height: 36px;
        padding-top: 27px;
    }
}
.section-header {
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
    color: #FFFFFF;
    padding-bottom: 24px;  
    padding-top: 94px;      
}
.about {
    background-color: #202027;
    &__info {
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        color: #FFFFFF;
    }
    &__image {
        &-1 {
            position: absolute;
            top: 877px;
            left: calc(100% - 459px);
            z-index: 0;
        }
        &-2 {
            position: absolute;
            top: 1622px;
            left: 40px;
            z-index: 0;
        }
        &-3 {
            position: absolute;
            top: 1570px;
            left: 25px;
            z-index: 0;
        }
    }   
}
.game {
    padding-top: 72px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    position: relative;
    z-index: 1;
    &__block {
        grid-column: span 4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 32px;
    }
    &__link {
        cursor: pointer;
    }
    &__cart {
        background-color: #FFFFFF;
        border-radius: 30px;
        transition: transform 0.3s;
        &:hover {
            transform: scale(1.07);
        }
    }
    &__image {
        border-radius: 30px;
        width: 100%;
        &-number {
            background-color: #AD61FF;
        }
        &-arithmetic {
            background-color: #FDAD00;
        }
        &-turn {
            background-color: #565EEF;
        }
        &-rsp {
            background-color: #271A58;
        }
        &-quiz {
            background-color: #99D100;
        }
        &-generator {
            background-color: #271A58;
        }
    }
    &__number {
        background-color: #F7F7F7;
        color: #202027;
        width: 76px;
        font-size: 16px;
        line-height: 110%;
        font-weight: 500;
        margin-top: 32px;
        margin-left: 32px;
        padding: 8px 16px 10px 16px;
        border-radius: 53px;
    }
    &__name {
        color: #202027;
        font-size: 32px;
        line-height: 100%;
        font-weight: 700;
        padding-top: 16px;
        padding-left: 32px;
        padding-bottom: 36px;
    }
}
.mini-game {
    background-color: #202027;
    padding-bottom: 72px;
    &__image {
        &-1 {
            position: absolute;
            top: 2396px;
            left: calc(100% - 114px);
            height: 69px;
            width: 69px;
            z-index: 0;
        }
        &-2 {
            position: absolute;
            top: 2363px;
            left: calc(100% - 159px);
            height: 35px;
            width: 35px;
            z-index: 0;
        }
    }
}
.play {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 32px;
    position: relative;
    z-index: 1;
    &__block {
        background-color: #FFFFFF;
        border-radius: 30px;
        grid-column: span 12;
        display: flex;
        justify-content: space-between;
        height: auto;
    }
    &__left {
        flex-direction: row;
    }
    &__right {
        flex-direction: row-reverse;
    }
    &__cart {
        padding: 48px;
        width: 504px;
    }
    &__name {
        color: #202027;
        font-size: 48px;
        line-height: 100%;
        font-weight: 700;
        padding-bottom: 24px;
    }
    &__about {
        color: #202027;
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
        padding-bottom: 36px;
    }
    &__link {
        display: block;
        width: 97px;
        background-color: #202027;
        padding: 16px 75px;
        border: 1px solid #202027;
        border-radius: 60px;
        color: #FFFFFF;
        font-size: 24px;
        line-height: 142%;
        font-weight: 600;
        cursor: pointer;
        &:hover {
            background-color: #FFFFFF;
            color: #202027;
        }
    }
    &__color {
        width: 600px;
        display: flex;
    }
    &__image {
        border-radius: 30px;
        width: 100%;
        &-number {
            background-color: #AD61FF;
        }
        &-arithmetic {
            background-color: #FDAD00;
        }
        &-turn {
            background-color: #565EEF;
        }
        &-rsp {
            background-color: #271A58;
        }
        &-quiz {
            background-color: #99D100;
        }
        &-generator {
            background-color: #271A58;
        }
    }
}
.footer {
    height: 150px;
    background-color: #BDED35;
    display: flex;
    align-items: center;
    justify-content: center;
    &__text {
        font-size: 24px;
        font-weight: 600;
        line-height: 100%;
        color: #000000;
    }
}
@keyframes scroll-bar {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-33%);
  }
}

@import 'number';
@import 'arithmetic';
@import 'turnText';
@import 'rsp';
@import 'quiz';
@import 'generatorColor';
@import 'mobile';