* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a,
input,
button,
select {
  transition: all 0.3s;
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.main-page {
  background-color: #E1FF8F;
}

.background {
  position: absolute;
}
.background__image-1 {
  position: absolute;
  left: 734px;
}
.background__image-2 {
  position: absolute;
  top: 568px;
  left: 893px;
}
.background__image-3 {
  position: absolute;
  top: 538px;
  left: 828px;
}
.background__image-4 {
  position: absolute;
  top: 69px;
  left: 36px;
}
.background__image-5 {
  position: absolute;
  top: 94px;
  left: -57px;
}
.background__image-6 {
  display: none;
}

.welcom {
  padding-top: 196px;
  padding-bottom: 156px;
}
.welcom__greeting {
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  color: #202027;
  padding-bottom: 24px;
}
.welcom__description {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #202027;
}
.welcom__description-weight {
  font-weight: 600;
}
.welcom__start {
  display: block;
  width: 117px;
  background-color: #202027;
  padding: 16px 65px;
  border: 1px solid #202027;
  border-radius: 60px;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 142%;
  font-weight: 600;
  margin-top: 48px;
  cursor: pointer;
}
.welcom__start:hover {
  background-color: #FFFFFF;
  color: #202027;
}

.scroll-bar {
  background-color: #BCEC30;
  width: 500%;
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  animation: scroll-bar 10s linear infinite;
}
.scroll-bar__name {
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
  padding: 27px 51px 30px 51px;
}
.scroll-bar__star {
  width: 36px;
  height: 36px;
}

.section-header {
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  color: #FFFFFF;
  padding-bottom: 24px;
  padding-top: 94px;
}

.about {
  background-color: #202027;
}
.about__info {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #FFFFFF;
}
.about__image {
  position: relative;
  z-index: 0;
}
.about__image-1 {
  position: absolute;
  top: 77px;
  left: 863px;
}
.about__image-2 {
  position: absolute;
  top: 822px;
  left: -76px;
}
.about__image-3 {
  position: absolute;
  top: 770px;
  left: -91px;
}

.game {
  padding-top: 72px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  position: relative;
  z-index: 1;
}
.game__block {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}
.game__link {
  cursor: pointer;
}
.game__cart {
  background-color: #FFFFFF;
  border-radius: 30px;
  transition: transform 0.3s;
}
.game__cart:hover {
  transform: scale(1.07);
}
.game__image {
  border-radius: 30px;
  width: 100%;
}
.game__image-number {
  background-color: #AD61FF;
}
.game__image-arithmetic {
  background-color: #FDAD00;
}
.game__image-turn {
  background-color: #565EEF;
}
.game__image-rsp {
  background-color: #271A58;
}
.game__image-quiz {
  background-color: #99D100;
}
.game__image-generator {
  background-color: #271A58;
}
.game__number {
  background-color: #F7F7F7;
  color: #202027;
  width: 76px;
  font-size: 16px;
  line-height: 110%;
  font-weight: 500;
  margin-top: 32px;
  margin-left: 32px;
  padding: 8px 16px 10px 16px;
  border-radius: 53px;
}
.game__name {
  color: #202027;
  font-size: 32px;
  line-height: 100%;
  font-weight: 700;
  padding-top: 16px;
  padding-left: 32px;
  padding-bottom: 36px;
}

.mini-game {
  background-color: #202027;
  padding-bottom: 72px;
}
.mini-game__image {
  position: relative;
  z-index: 0;
}
.mini-game__image-1 {
  position: absolute;
  top: 126px;
  left: 1200px;
  height: 69px;
  width: 69px;
}
.mini-game__image-2 {
  position: absolute;
  top: 93px;
  left: 1157px;
  height: 35px;
  width: 35px;
}

.play {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  position: relative;
  z-index: 1;
}
.play__block {
  background-color: #FFFFFF;
  border-radius: 30px;
  grid-column: span 12;
  display: flex;
  justify-content: space-between;
  height: auto;
}
.play__left {
  flex-direction: row;
}
.play__right {
  flex-direction: row-reverse;
}
.play__cart {
  padding: 48px;
  width: 504px;
}
.play__name {
  color: #202027;
  font-size: 48px;
  line-height: 100%;
  font-weight: 700;
  padding-bottom: 24px;
}
.play__about {
  color: #202027;
  font-size: 24px;
  line-height: 32px;
  font-weight: 400;
  padding-bottom: 36px;
}
.play__link {
  display: block;
  width: 97px;
  background-color: #202027;
  padding: 16px 75px;
  border: 1px solid #202027;
  border-radius: 60px;
  color: #FFFFFF;
  font-size: 24px;
  line-height: 142%;
  font-weight: 600;
  cursor: pointer;
}
.play__link:hover {
  background-color: #FFFFFF;
  color: #202027;
}
.play__color {
  width: 600px;
  display: flex;
}
.play__image {
  border-radius: 30px;
  width: 100%;
}
.play__image-number {
  background-color: #AD61FF;
}
.play__image-arithmetic {
  background-color: #FDAD00;
}
.play__image-turn {
  background-color: #565EEF;
}
.play__image-rsp {
  background-color: #271A58;
}
.play__image-quiz {
  background-color: #99D100;
}
.play__image-generator {
  background-color: #271A58;
}

.footer {
  height: 150px;
  background-color: #BDED35;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__text {
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  color: #000000;
}

@keyframes scroll-bar {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(-56%);
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: calc(50% - 202px);
    padding-right: calc(50% - 202px);
  }
  .background__image-1 {
    display: none;
  }
  .background__image-2 {
    position: absolute;
    top: 552px;
    left: 303px;
    width: 39px;
    height: 41px;
  }
  .background__image-3 {
    position: absolute;
    top: 529px;
    left: 272px;
    width: 18px;
    height: 18px;
  }
  .background__image-4 {
    position: absolute;
    top: 64px;
    left: 91px;
    width: 21px;
    height: 21px;
  }
  .background__image-5 {
    position: absolute;
    top: 97px;
    left: 37px;
    width: 35px;
    height: 35px;
  }
  .background__image-6 {
    display: block;
    position: absolute;
    left: 216px;
  }
  .section-header {
    font-size: 40px;
    padding: 48px 16px;
  }
  .welcom {
    padding-top: 147px;
    padding-bottom: 131px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .welcom__greeting {
    font-size: 40px;
    text-align: center;
  }
  .welcom__description {
    font-size: 16px;
    text-align: center;
    line-height: 100%;
  }
  .welcom__start {
    margin-top: 36px;
    font-size: 16px;
    padding: 16px 103px;
    width: 78px;
  }
  .scroll-bar {
    position: relative;
    left: -6px;
  }
  .scroll-bar__name {
    font-size: 16px;
    padding: 16px 27px 16px 24px;
  }
  .scroll-bar__star {
    width: 19px;
    height: 19px;
  }
  .about {
    display: none;
  }
  .mini-game {
    padding-bottom: 10px;
  }
  .mini-game__image {
    display: none;
  }
  .play {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .play__block {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column-reverse;
    width: 343px;
  }
  .play__cart {
    display: flex;
    flex-direction: column;
    width: 343px;
    padding: 29px;
  }
  .play__name {
    font-size: 40px;
  }
  .play__about {
    font-size: 16px;
    line-height: 100%;
  }
  .play__link {
    font-size: 16px;
    padding: 16px 103px;
    width: 78px;
  }
  .play__color {
    width: 343px;
  }
  .footer {
    height: 100px;
  }
  .footer__text {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */